/*----------- ESTILOS COMPARTIDOS ------------*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}


.subt {
	font-size: 25px;
}

.p-marg {
	margin-top: 10px;
}

.bg-color {
	background-color: #f7b617;
	color: whitesmoke;
}

.bg-colorf {
	background-color: #2b2b2b;
	color: whitesmoke;
}

.descargaApp {
	font-size: 18px;
}

/*----------- MENU ------------*/

.menu {
    background-color: transparent;
    border: transparent;
    padding: 15px;
}



/*----------- HERO ------------*/

.fondo {
	background-image: url(../img/taxi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-position-y: -1120px;		
	padding: 100px 0;
	height: 100vh;
}

.signUp {
	background-color: #f7b617;
	height: 350px;
	color: white;
	padding: 40px 0px 40px 40px;
	float: right;
}

.titu {
	font-size: 28px;
}

.logo-blanco{
	float: right;
}

#campo1 {
	background-color: transparent;
	border-style: none;
	border-bottom: 1px solid whitesmoke;
}


/*----------- DESCARGA ------------*/

.celular{
	padding: 50px 200px 50px 0;
}

.app-img{
	padding-left: 100px;
}

.app {
	border: 1px solid whitesmoke;
	border-left: 0;
	padding: 50px;
}

.app-img img{
	width: 250px
}

input {
	width: 30%;
	margin: 10px;
}

.btn-start {
	color: black;
	background-color: whitesmoke;
	margin-top: 20px;
	font-weight: 600;
}


/*----------- CONDUCE ------------*/

#viaja {
	padding: 50px 100px;
}

.fondo-conduce {
	background-image: url(../img/conduce.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.conductor{
	color: whitesmoke;
	background-color: rgba(0,0,0,0.5);
	float: right;
	padding: 120px 30px;
}

.btn-warning {
    color: #fff;
    background-color: #f7b617;
}


/*----------- TARIFA ------------*/

#mapa {
	height: 400px;
	border: 2px solid whitesmoke;
	padding: 50px;
}

.partida input,
.llegada input {
	background-color: transparent;
	border: 1px solid whitesmoke;
	color: whitesmoke;
	border-radius: 7px;
}

input.plac-inicio::-webkit-input-placeholder,
input.plac-fin::-webkit-input-placeholder { 
   color: whitesmoke; 
}


/*----------- FOOTER ------------*/

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid whitesmoke;
}

#footer {
	color: whitesmoke;
	padding: 50px 100px;
}

.link-footer ul {
	list-style: none;

}

.link-footer li {
	line-height: 3;
}

.link-footer a {
	text-decoration: none;
	color: white;
}

.link-footer a:hover {
	color: #f7b617;
}

.movil-store img{
	width: 60%;
	padding-bottom: 20px;
}

.r-social a {
	color: white;
	padding-left: 5px;
}

.r-social a:hover {
	color: #f7b617;
}


@media (min-width: 1px) and (max-width: 768px){
	.fondo{
		background-position-y: 0;	
	}

	.celular{
		padding: 20px;
	}

	.app {
		border: 1px solid white;
	}
	
	.masGr {
		font-size: 25px;
	}
	.navbar-toggle {
    	float: left;
    }
}

@media (min-width: 768px){

}